<div id="event-show-container" class="d-flex flex-column" style="gap: 1em">

    <div class="d-flex">
        <span>Libellé :</span>
        {{ event.title }}
    </div>

    {% if (event.description) %}
    <div class="d-flex">
        <span>Description :</span>
        {{ event.description | raw }}
    </div>
    {% endif %}

    <div class="d-flex">
        <span>Ressource :</span>
        {{ event.resource }}
    </div>

    <div class="d-flex">
        <span>Type :</span>
        {{ event.type }}
    </div>

    <div class="d-flex">
        <span>Date début :</span>
        {% if (event.allDay) %}
            {{ event.startAt | date('d/m/Y') }}
        {% else %}
            {{ event.startAt | date('d/m/Y H:i:s') }}
        {% endif %}
    </div>

    <div class="d-flex">
        <span>Date fin :</span>
        {% if (event.allDay) %}
            {{ event.endAt | date_modify("-1 second") | date('d/m/Y') }}
        {% else %}
            {{ event.endAt | date('d/m/Y H:i:s') }}
        {% endif %}
    </div>

    <div class="d-flex flex-column">
        {% for attendee in event.attendees %}
            <div class="d-flex">
                {% if (loop.index == 1) %}
                    <span>Participants :</span>
                {% else %}
                    <span> </span>
                {% endif %}
                {{ attendee.resource }}
            </div>

        {% endfor %}
    </div>

    <div class="d-flex justify-content-end gap-10">
        <a id="btn-event-show-edit" class="btn btn-warning" data-event-id="{{ event.id }}">
            Éditer
        </a>
        <a id="btn-event-show-delete" class="btn btn-danger" data-event-id="{{ event.id }}">
            Supprimer
        </a>
    </div>
</div>