{% extends 'base.html.twig' %}

{% block title %}{{ patient is defined ? "Modifier un patient" : "Ajouter un patient"}} {% endblock %}

{% block body %}
    <h4 class="title margin-bottom-10">
        {% if patient is defined %}
            Modifier {{ patient.firstName }}
        {% else %}
            Ajouter
        {% endif %}
    </h4>
    <div class="card">
            {{ form_start(form) }}
            <div class="container__row">
                <div class="card__row">
                    {{ form_row(form.numberSocialSecurity) }}
                </div>
                <div class="card__row">
                    {{ form_row(form.firstName) }}
                </div>
            </div>
            <div class="container__row">
                <div class="card__row">
                {{ form_row(form.lastName) }}
            </div>
            <div class="card__row">
                {{ form_row(form.phoneNumber) }}
            </div>
        </div>
            <div class="container__row">
                <div class="card__row">
                    {{ form_row(form.birthdayDate) }}
                </div>
            <div class="card__row">
                {{ form_row(form.email) }}
            </div>
        </div>
            <div class="container__row">
                <div class="card__row">
                {{ form_row(form.address.street) }}
            </div>
            <div class="card__row">
                {{ form_row(form.address.complementaryInfo) }}
            </div>
        </div>
        <div class="container__row">
            <div class="card__row">
                {{ form_row(form.address.city) }}
            </div>
            <div class="card__row">
                {{ form_row(form.address.postalCode) }}
            </div>
        </div>
        <div class="container__row">
            <div class="card__row">
                {{ form_row(form.gender) }}
            </div>
            <div class="card__row">
                {{ form_row(form.bloodGroup) }}
            </div>
        </div>
        <div class="container__row">
            <div class="card__row">
                {{ form_row(form.doctor) }}
            </div>
        </div>
        <input type="submit" class="btn btn-success center-input-submit" value="{{ patient is defined ? "Modifier" : "Ajouter" }}">
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

