<div class="wrapper">
    {{ form_start(form) }}
        <div class="d-flex flex-column align-items-center gap-10">
            <div class="d-flex gap-10">
                <div>
                    {{ form_row(form.label) }}
                </div>
                <div>
                    {{ form_row(form.capacity) }}
                </div>
            </div>

            <div class="d-flex gap-10">
                <div>
                    {{ form_row(form.options) }}
                </div>
                <div>
                    {{ form_row(form.type) }}
                </div>
            </div>
        </div>
    {{ form_end(form) }}
</div>