<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Commande d'achat {{ order }}</title>
    <link rel="stylesheet" href="{{ absolute_url(asset('build/app.css')) }}">
    <style>
        hr{
            height: 1px;
            background-color: #e5e5e5;
            border: none;
            margin: 1rem 0;
        }
        td{
            word-break: break-word;
            white-space:nowrap;
        }
    </style>
</head>
<body>
<div class="d-flex align-items-center gap-10">
    <img src="{{ asset('build/images/logo.png') }}" alt="logo" width="100"/>
    <div style="margin-left: 15px">
        <h4>MedicalWare</h4>
        <p>22 Rue John Maynard Keynes</p>
        <p>13013 Marseille</p>
        <p>06 51 57 91 73</p>
    </div>
</div>

<div class="margin-top-20" style="float: right">
   {# <div class="avatar-default img-md" style="background-color: #0F2544">
        <span>{{ order.patient.firstName|slice(0,1)|upper ~ order.patient.lastName|slice(0,1)|upper }}</span>
    </div>#}
    <div>
        <p>{{ order.provider }}</p>
        <p>{{ order.provider.address.street }}</p>
        <p>{{ order.provider.address.complementaryInfo }}</p>
        <p>{{ order.provider.address.postalCode ~ ' ' ~ order.provider.address.city }} </p>
    </div>
</div>
<div style="clear: both"></div>
<div>
    <p class="margin-bottom-15">Commande : {{ order }}</p>
    <p class="margin-bottom-15">Date prévue de livraison : {{ order.deliveryPlannedDate|date('d/m/Y') }}</p>
    {% if order.deliveryDate %}
        <p class="margin-bottom-15">Date : {{ order.deliveryDate|date('d/m/Y') }}</p>
    {% endif %}
    <p class="">Description : {{ order.comment|default('Aucune description')|raw }}</p>
</div>

<div class="margin-top-20">
    <table class="datatable" style="border: 1px solid #edeff1;table-layout: fixed">
        <thead>
        <tr>
            <th style="width: 30px">#</th>
            <th style="width: 200px">Désignation</th>
            <th style="width: 300px">Description</th>
            <th style="width: 100px">Quantité</th>
            <th style="width: 100px">Prix</th>
            <th style="width: 100px">Total ht</th>
        </tr>
        </thead>
        <tbody>
        {# @var line \App\Entity\Accounting\OrderLine #}
        {% for line in order.orderLines %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ line.equipment }}</td>
                <td>
                    <div style="white-space: pre-line;word-wrap: break-word;text-align: left">
                        {{ line.description ?? '-' }}
                    </div>
                </td>
                <td>{{ line.quantity }}</td>
                <td>{{ line.price }} €</td>
                <td>{{ line.ht }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="margin-top-20">
    <div class="padding-10" style="width: 300px;border: 1px solid #edeff1;float:right">
        <p class="d-flex justify-content-between">
            <span>Total H.T</span>
            <span>{{ order.ht }} €</span>
        </p>
        <p class="d-flex justify-content-between">
            <span>Tva</span>
            <span>{{ order.tva }}</span>
        </p>
        <hr>
        <h4 class="d-flex justify-content-between">
            <span>Total TTC</span>
            <span>{{ order.ttc }} €</span>
        </h4>
    </div>
</div>
</body>
</html>