<div class="d-flex align-items-center gap-10">
    <img src="{{ asset('build/images/logo.png') }}" alt="logo" width="100"/>
    <div class="d-flex flex-column gap-5">
        <h4 class="title">MedicalWare</h4>
        <p class="label">22 Rue John Maynard Keynes</p>
        <p class="label">13013 Marseille</p>
        <p class="label">06 51 57 91 73</p>
    </div>
</div>

<div class="d-flex align-items-center gap-10 justify-content-end">
    {{ include('human_resources/datatable/columns/avatar.html.twig', {user: invoice.patient, class: 'img-md'}) }}
    <div class="d-flex flex-column gap-5">
        <p class="label">{{ invoice.patient }}</p>
        <p class="label">{{ invoice.patient.address.street }}</p>
        <p class="label">{{ invoice.patient.address.complementaryInfo }}</p>
        <p class="label">{{ invoice.patient.address.postalCode ~ ' ' ~ invoice.patient.address.city }} </p>
    </div>
</div>

<div>
    <p class="label margin-bottom-15">Facture de {{ invoice }} créée le {{ invoice.date|date('d/m/Y') }}</p>
    <hr>
    <p class="label">{{ invoice.comment|default('Aucune description.')|raw }}</p>
</div>

<div class="margin-top-20">
    <table class="datatable fixed">
        <thead>
        <tr>
            <th>#</th>
            <th>Désignation</th>
            <th>Description</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Total ht</th>
        </tr>
        </thead>
        <tbody>
        {# @var line \App\Entity\Accounting\InvoiceLine #}
        {% for line in invoice.invoiceLines %}
            <tr>
                <td title="{{ loop.index }}">{{ loop.index }}</td>
                <td title="{{ line.reference }}">{{ line.reference }}</td>
                <td title="{{ line.description ?? '-' }}">{{ line.description ?? '-' }}</td>
                <td title="{{ line.quantity }}">{{ line.quantity }}</td>
                <td title="{{ line.price }} €">{{ line.price }} €</td>
                <td title="{{ line.ht }} €">{{ line.ht }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="margin-top-20 d-flex justify-content-end">
    <div class="d-flex flex-column justify-content-between padding-10" style="width:300px; box-shadow: 0px 0px 10px 0px rgba(105 ,105, 105,0.5);">
        <p class="d-flex justify-content-between">
            <span class="label">Total H.T</span>
            <span class="label">{{ invoice.ht }} €</span>
        </p>
        <p class="d-flex justify-content-between">
            <span class="label">Tva</span>
            <span class="label">{{ invoice.tva }}</span>
        </p>
        <hr>
        <h4 class="d-flex justify-content-between">
            <span class="title">Total TTC</span>
            <span class="title">{{ invoice.ttc }} €</span>
        </h4>
    </div>
</div>