{% extends 'base.html.twig' %}
{% block body %}
    <div id="event-types" class="list-cards">
        <div class="d-flex justify-content-between">
            <h3>Liste des types d'évènement</h3>

            <a id="btn-add-event-type" class="btn btn-success">
                <i class="fa fa-plus"></i>
                Ajouter un type
            </a>
        </div>

        <div class="card-container justify-content-center">
            {% for type in eventTypes %}
                <div class="d-flex flex-column card">

                    <div class="d-flex justify-content-between">
                        <b class="card-title">
                            {{ type.name }}
                        </b>
                        <div class="color-circle" style="background-color: {{ type.color }}"></div>
                    </div>
                    <div class="description">
                        {{ type.description | raw }}
                    </div>
                    <div class="d-flex justify-content-between bottom-line">
                        <div class="d-flex align-self-end font-italic">
                            #{{ type.id }}
                        </div>
                        <div class="d-flex buttons-container">
                            <a class="btn btn-primary btn-edit-event-type" data-type="{{ type.id }}">Modifier</a>

                            <a class="btn btn-danger btn-delete-event-type" data-type="{{ type.id }}">Supprimer</a>
                        </div>
                    </div>

                </div>
            {% else %}
                Aucun type trouvé
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('planning.event.type') }}
{% endblock %}