<div class="sidebar">
    <div class="logo-details">
        <img src={{ asset('build/images/logo.png') }} alt="logo" />
        <span class="logo_name">MedicalWare</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-house-user"></i>
                <span class="link_name">Accueil</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{{ path('dashboard') }}">Accueil</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ path('app_human_resources') }}">
                <i class="fa fa-user"></i>
                <span class="link_name">Ressources humaines</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{{ path('app_human_resources') }}">Ressources humaines</a></li>
            </ul>
        </li>

        <li class="drawer-links">
            <div class="icon-link">
                <a>
                    <i class="fa fa-calendar-alt"></i>
                    <span class="link_name">Évènement</span>
                </a>
                <i class="fa fa-angle-right arrow"></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Comptabilité</a></li>
                <li><a href="#">Planning</a></li>
                <li><a href="{{ path('index_event_type') }}">Types d'évènements</a></li>
            </ul>
        </li>

        <li class="drawer-links">
            <div class="icon-link">
                <a href="#">
                    <i class="fa fa-money-check-alt"></i>
                    <span class="link_name">Comptabilité</span>
                </a>
                <i class="fa fa-angle-right arrow"></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Comptabilité</a></li>
                <li><a href="{{ path('invoice_index') }}">Factures</a></li>
                <li><a href="{{ path('order_index') }}">Commandes d'achats</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ path('stock_index') }}">
                <i class="fa fa-box"></i>
                <span class="link_name">Stock</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{{ path('stock_index') }}">Stock</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ path('provider_index') }}">
                <i class="fa fa-truck"></i>
                <span class="link_name">Fournisseurs</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{{ path('provider_index') }}">Fournisseurs</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ path('service_index') }}">
                <i class="fas fa-cubes"></i>
                <span class="link_name">Services</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{{ path('service_index') }}">Services</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ path('index_room') }}">
                <i class="fa fa-door-open"></i>
                <span class="link_name">Salles</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{{ path('index_room') }}">Salles</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ path('app_doctor') }}">
                <i class="fa fa-user-nurse"></i>
                <span class="link_name">Docteurs</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{{ path('app_doctor') }}">Docteurs</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ path('app_patients') }}">
                <i class="fa fa-user-injured"></i>
                <span class="link_name">Patients</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="{{ path('app_patients') }}">Patients</a></li>
            </ul>
        </li>
    </ul>
</div>