{% extends 'layout_show.html.twig' %}

{% block title %}Fournisseurs{% endblock %}

{% block aside_header %}
    <header class="d-flex" style="align-items: center">
        <div class="avatar-default margin-right-10" style="">
            <span>{{ provider.name|slice(0,2)|upper }}</span>
        </div>
        {{  provider }}
    </header>
{% endblock %}

{% block aside_nav %}
    <nav class="d-flex" style="flex-direction: column; gap: 20px">
        <button class="btn-show d-flex align-items-center" data-name="inforamtions" data-url="{{ path('provider_show_information', {id: provider.id}) }}">
            <i class="margin-right-5 fa fa-address-card"></i> Informations
        </button>
        <button class="btn-show d-flex align-items-center" data-name="command" data-url="{{ path('provider_show_command', {id: provider.id}) }}">
            <i class="margin-right-5 fa fa-receipt"></i> Commandes
        </button>
        <button class="btn-show d-flex align-items-center" data-name="equipment" data-url="{{ path('provider_show_piece', {id: provider.id}) }}">
            <i class="margin-right-5 fa fa-cube"></i> Équipement
        </button>
        <button class="btn-show d-flex align-items-center" data-name="provider.planning" data-url="{{ path('provider_show_planning', {id: provider.id}) }}">
            <i class="margin-right-5 fa fa-calendar-alt"></i> Planning
        </button>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('provider.show') }}
{% endblock %}

