{% extends 'layout_show.html.twig' %}

{% block title %}Stock{% endblock %}

{% block aside_header %}
    <header class="d-flex" style="align-items: center">
        <i class="margin-right-5 fa fa-cube"></i> Piece : {{ stock.equipment.reference }}
    </header>
{% endblock %}

{% block aside_nav %}
    <nav class="d-flex" style="flex-direction: column; gap: 20px">
        <button class="btn-show d-flex align-items-center" data-name="information" data-url="{{ path('stock_show_information', {id: stock.id}) }}">
            <i class="margin-right-5 fa fa-address-card"></i> Informations
        </button>
        <button class="btn-show d-flex align-items-center" data-name="command" data-url="{{ path('stock_show_command', {id: stock.id}) }}">
            <i class="margin-right-5 fa fa-receipt"></i> Commandes
        </button>
        <button class="btn-show d-flex align-items-center" data-name="history" data-url="{{ path('stock_show_history', {id: stock.id}) }}">
            <i class="margin-right-5 fa fa-history"></i> Historique
        </button>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('stock.show') }}
{% endblock %}

