{% extends 'base.html.twig' %}

{% block title %}Commande d'achat{% endblock %}

{% block body %}
    <div class="card margin-bottom-20">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                {% include 'include/_badge_enum.html.twig' with { enum: order.state } %}
            </div>
            <div class="d-flex gap-5">
                {% set transitions = workflow_transitions(order) %}

                {% if transitions| length > 0 %}
                    <div class="p-relative" x-data="{ open: false }">
                        <button class="btn btn-sm btn-primary w-100" @click="open = !open;">
                            Statut <i class="fa" :class=" open ? 'fa-angle-up' : 'fa-angle-down' "></i>
                        </button>
                        <div x-show="open" x-cloak @click.outside="open = false"
                             class="dropdown margin-top-5 " style="background-color: white; ">

                                {% for transition in transitions  %}
                                    <a href="{{ path('order_workflow_transition', {id: order.id, transition: transition.name}) }}" class="dropdown-link">
                                        {{ transition.name | translate_order_workflow }}
                                    </a>
                                {% endfor %}

                        </div>
                    </div>
                {% endif %}

                <a href="{{ path('order_export_pdf', { id: order.id }) }}" class="btn btn-sm btn-primary">Exporter <i class="fa fa-file-download"></i></a>
                <a href="{{ path('order_edit', {id:order.id}) }}" class="btn btn-sm btn-primary">Modifier <i class="fa fa-pen"></i></a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="d-flex align-items-center gap-10">
            <img src="{{ asset('build/images/logo.png') }}" alt="logo" width="100"/>
            <div class="d-flex flex-column gap-5">
                <h4 class="title">MedicalWare</h4>
                <p class="label">22 Rue John Maynard Keynes</p>
                <p class="label">13013 Marseille</p>
                <p class="label">06 51 57 91 73</p>
            </div>
        </div>

        <div class="d-flex align-items-center gap-10 justify-content-end">
            <div class="d-flex flex-column gap-5">
                <p class="label">{{ order.provider }}</p>
                <p class="label">{{ order.provider.address.street }}</p>
                <p class="label">{{ order.provider.address.complementaryInfo }}</p>
                <p class="label">{{ order.provider.address.postalCode ~ ' ' ~ order.provider.address.city }} </p>
            </div>
        </div>

        <div>
            <p class="label margin-bottom-15">Commande d'achat de {{ order }}</p>
            <p class="label margin-bottom-15">Prévue pour le {{ order.deliveryPlannedDate|date('d/m/Y') }}</p>
            {% if order.deliveryDate is not null %}
                <p class="margin-bottom-15">A livrer pour le {{ order.deliveryDate|date('d/m/Y') }}</p>
            {% endif %}
            <hr>
            <p class="label">{{ order.comment|default('Aucune description')|raw }}</p>
        </div>

        <div class="margin-top-20">
            <table class="datatable fixed">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Désignation</th>
                    <th>Description</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Total ht</th>
                </tr>
                </thead>
                <tbody>
                {# @var line \App\Entity\Accounting\OrderLine #}
                {% for line in order.orderLines %}
                    <tr>
                        <td title="{{ loop.index }}">{{ loop.index }}</td>
                        <td title="{{ line.equipment }}">{{ line.equipment }}</td>
                        <td title="{{ line.description ?? '-' }}">{{ line.description ?? '-' }}</td>
                        <td title="{{ line.quantity }}">{{ line.quantity }}</td>
                        <td title="{{ line.price }} €">{{ line.price }} €</td>
                        <td title="{{ line.ht }} €">{{ line.ht }} €</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="margin-top-20 d-flex justify-content-end">
            <div class="d-flex flex-column justify-content-between padding-10" style="width: 300px;box-shadow: 0px 0px 10px 0px rgba(105 ,105, 105,0.5);">
                <p class="d-flex justify-content-between">
                    <span class="label">Total H.T</span>
                    <span class="label">{{ order.ht }} €</span>
                </p>
                <p class="d-flex justify-content-between">
                    <span class="label">Tva</span>
                    <span class="label">{{ order.tva }}</span>
                </p>
                <hr>
                <h4 class="d-flex justify-content-between">
                    <span class="title">Total TTC</span>
                    <span class="title">{{ order.ttc }} €</span>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

